/* Importa a fonte Montserrat */
@import url('https://fonts.cdnfonts.com/css/montserrat');

/* A_S - Root - Begin */
:root {
    --FonteMontserrat: 'Montserrat', sans-serif !important;

    /* Todas cores */
    --CorDC01: #C61067;
    --CorDC02: #623CEA;
    --CorDC03: #F9E784;
    --CorDC04: #02394A;
    --CorDC05: #0B39B4;
    --CorPreta: #000000;
    --CorBranca: #FFF;

    /* Cor Topicos e Subtopicos */
    --CorTopico: var(--CorDC01);
    --CorSubtopico: var(--CorDC04);

    /* Cor Caixas */
    --CorApresentacao: #623CEA;

    --CorImportante: #ff0000;
    --CorImportanteClaro: #ffe2d7;

    --CorFiqueAtento: #f1a923;
    --CorFiqueAtentoClaro: #fdefd4;

    --CorReflita: #65d1e7;
    --CorReflitaClaro: #d7f8ff;

    --CorExemplo: #30b143;
    --CorExemploClaro: #d7ffdd;

    --CorSaibaMais: #36a5b1;
    --CorSaibaMaisClaro: #d6fbff;

    --CorCuriosidade: #435266;
    --CorCuriosidadeClaro: #d3e5fd;

    --CorResumo: #c79d60;
    --CorResumoClaro: #fdecd3;
}
/* A_S - Root - End */

/* A_S - Begin */

/* A_S - Layout - BEGIN */
.container-fluid {
    transition: .5s;
}

/* Navbar preto */
.navbarpreto {
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--CorPreta);
    z-index: 4;
}

* {
    font-family: var(--FonteMontserrat);
    font-weight: light;
}

/* Back to top */
#BackToTop {
    text-decoration: none !important;
    display: inline-block;
    background-color: var(--CorDC01);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
#BackToTop::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}
#BackToTop:hover {
    cursor: pointer;
    background-color: var(--CorPreta);
}
#BackToTop:active {
    background-color: #555;
}
#BackToTop.show {
    opacity: 1;
    visibility: visible;
}
/* A_S - Layout - END */

/* A_S - Textos - BEGIN */
.Titulo {
    font-family: var(--FonteMontserrat);
    font-size: 2rem;
    color: var(--CorTopico);
    border-bottom: 1px solid rgb(185, 185, 185);
    padding-bottom: 10px;
    margin-bottom: 15px;
}
.Texto {
    font-family: var(--FonteMontserrat);
    font-size: 1.2rem !important;
}
/* A_S - Textos - END */

/* A_S - Box - BEGIN */
.BoxApresentacao {
    background-color: var(--CorApresentacao);
    font-size: 1.5rem !important;
    color: var(--CorBranca);
    border-radius: 13px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 7px 13px;
    padding: 1rem;
    text-align: center;
}
.BoxRosa {
    padding: 18px;
    border-radius: 13px 13px;
    background-color: var(--CorDC01);
    color: var(--CorBranca);
    margin: 1.5em 0;
}
.BoxAmarelo {
    padding: 18px;
    border-radius: 13px 13px;
    background-color: var(--CorDC03);
    color: #0c343d;
    margin: 1.5em 0;
}
/* A_S - Box - END */

/* A_S - Listas - BEGIN */
.Lista li {
    line-height: 30px;
}
/* A_S - Listas - END */

/* A_S - Accordions - BEGIN */
.Accordion {
    border-radius: 13px 13px 16px 16px;
    background-image: linear-gradient(to right, var(--CorDC01), var(--CorDC02));
}
.accordion-button {
    background-image: linear-gradient(to right, var(--CorDC01), var(--CorDC02));
    padding: 8px 19px;
    border-radius: 13px;
    color: white !important;
    font-size: 1.3rem !important;
    border: none;
    border-color: transparent;
    box-shadow: none !important;
}
.accordion-content {
    background-color: #d5f2de;
    font-size: 1.3em;
    padding: 15px;
    border-radius: 0 0 13px 13px;
    font-weight: 200 !important;
}
/* A_S - Accordions - END */

/* A_S - Caixas - BEGIN */
.Caixa {
    padding: 10px 20px;
    font-size: 1.4em;
    border-radius: 13px 13px 0px 0px;
}
.CaixaConteudo {
    padding: 18px;
    border-radius: 0px 0px 13px 13px;
    background-color: #fef8f1;
}
.TituloImportante {
    background-color: var(--CorImportante);
    color: #fff;
}
.ConteudoImportante {
    background-color: var(--CorImportanteClaro);
}

.TituloFiqueAtento {
    background-color: var(--CorFiqueAtento);
    color: #fff;
}
.ConteudoFiqueAtento {
    background-color: var(--CorFiqueAtentoClaro);
}

.TituloReflita {
    background-color: var(--CorReflita);
    color: #fff;
}
.ConteudoReflita {
    background-color: var(--CorReflitaClaro);
}

.TituloExemplo {
    background-color: var(--CorExemplo);
    color: #fff;
}
.ConteudoExemplo {
    background-color: var(--CorExemploClaro);
}

.TituloSaibaMais {
    background-color: var(--CorSaibaMais);
    color: #fff;
}
.ConteudoSaibaMais {
    background-color: var(--CorSaibaMaisClaro);
}

.TituloCuriosidade {
    background-color: var(--CorCuriosidade);
    color: #fff;
}
.ConteudoCuriosidade {
    background-color: var(--CorCuriosidadeClaro);
}

.TituloResumo {
    background-color: var(--CorResumo);
    color: #fff;
}
.ConteudoResumo {
    background-color: var(--CorResumoClaro);
}
/* A_S - Caixas - END */

/* A_S - Code - BEGAN */

.container-code {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
}

.code-section {
    flex: 1;
    margin-right: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f7f1f1;
}

.text-section {
    flex: 1;
    padding-left: 20px;
}

.typewriter {
    font-family: monospace;
    width: 100%;
    max-width: 600px;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 8px;
    border-right: 2px solid #f8f8f2; /* Cor do cursor */
    font-size: 18px;
    line-height: 1.5;
    animation: typing 6s steps(60, end), blink-caret 0.75s step-end infinite;
}

.typewriter-small{
    font-family: monospace;
    width: 60%;
    height: 5%;
    font-size: 18px;
    line-height: 1.5;
    background-color: #f7f1f1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-left: 20px;
    border-radius: 8px;
}

.code-color{
    color: #c51967;
}

pre {
    margin: 0;
    padding: 0;
    white-space: pre-wrap; /* Mantém a formatação do texto */
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #f8f8f2; }
}

/* Footer */
.Footer {
    background-color: var(--CorPreta) !important;
    padding-bottom: 30px;
}
/* A_S - End */


body {
    font-family: var(--FonteMontserrat);
}

#quizForm {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
}

.question p {
    margin: 5px 0;
}

.question label {
    margin-left: 10px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.question.unanswered {
    border: 2px solid red; /* Highlight unanswered questions */
}

.navbar{
    background-color: black;
}

.nQuestion{
    color: #c51967;
}

#errorAlert {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    padding: 15px;
    margin: 20px 0;
    font-size: 16px;
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 20px auto;
}

#errorAlert strong {
    font-weight: bold;
    margin-right: 10px;
}

#errorAlert span {
    flex-grow: 1;
}

#errorAlert::before {
    content: "\26A0"; /* Unicode for warning sign */
    font-size: 24px;
    margin-right: 10px;
}

button {
    background-color:#c51967;
    color: #fff;
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
        width: 100%;
        max-width: 200px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ba1477;
}

.question {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fafafa;
    transition: border-color 0.3s ease;
}

.question.unanswered {
    border-color: #dc3545; /* Highlight unanswered questions with red */
    background-color: #fff5f5; /* Light red background */
}